@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap");

$main-color: #ff8100;

@mixin centering() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex_bettween() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Cairo", sans-serif;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }
}

button {
  border: none;
  padding: 7px 12px;
  background-color: #ddd;
  border-radius: 5px;
  flex: 1;
  transition: 0.3s;
  cursor: pointer;
  display: block;
  margin-left: auto;
  &:hover {
    background-color: $main-color;
    color: #fff;
  }
}

nav {
  padding: 10px 0;
  box-shadow: 0 0 10px #eee;
  .container {
    @include flex_bettween();
    position: relative;
  }
  .brand {
    font-size: 30px;
    cursor: pointer;
  }
  .cart {
    @include centering();
    gap: 10px;
    cursor: pointer;
    position: relative;
    span {
      font-size: 20px;
    }
    .icon {
      @include centering();
      span {
        @include centering();
        position: absolute;
        width: 23px;
        height: 23px;
        font-size: 14px;
        background-color: $main-color;
        border-radius: 50%;
        color: #fff;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
      }
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
  .drop-down {
    position: absolute;
    top: 60px;
    right: -5px;
    width: 500px;
    max-width: 100%;
    padding: 10px 5px;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
    display: none;
    &.active {
      display: block;
    }
    .no-items {
      padding: 10px;
      background-color: #f1f1f1;
      text-align: center;
      margin: 10px;
      border-radius: 5px;
    }
    .item {
      display: flex;
      gap: 10px;
      margin: 10px;
      border: 1px solid $main-color;
      border-radius: 7px;
      padding: 7px;
      img {
        width: 130px;
        height: 75px;
        object-fit: cover;
        padding: 3px;
        border-radius: 7px;
        border: 1px solid #ddd;
      }
      .content {
        flex: 1;
        position: relative;
        .details {
          @include flex_bettween();
          font-size: 18px;
          .price {
            color: $main-color;
          }
        }
        button {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
}

.products {
  margin: 23px 0;
  .products-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
  }
  .product {
    img {
      width: 100%;
      height: 200px;
      max-width: 100%;
      object-fit: cover;
      border-radius: 7px;
    }
    .details {
      @include flex_bettween();
      font-size: 18px;
      margin-bottom: 7px;
      .price {
        color: $main-color;
      }
    }
    .btns {
      display: flex;
      gap: 5px;
    }
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 500px;
  background-color: #fff;
  z-index: 10;
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 3px;
  }
  .desc {
    @include flex_bettween();
    padding: 5px 10px;
    .price {
      color: $main-color;
    }
  }
  .colse {
    font-weight: bold;
    position: absolute;
    background-color: $main-color;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    @include centering();
    cursor: pointer;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0.5);
}
